<body class="mt-0">
    <section class="login-content">
      <div class="login-content-lt"></div>
      <div class="login-content-rt">
        <div class="login-box" style="margin-top: -300px;">
          <form class="login-form" [formGroup]="loginForm" (ngSubmit)="submitform()">
            <div class="logo-wrapper">
              <img src="../assets/images/logo.svg" alt="Rishabh Software">
              <span>Meal Facility</span>
            </div>
            <h3 class="login-head">Forgot Password</h3>
            <p class="login-text">Enter your email to get OTP.</p>
  
            <div class="form-group" style="width: auto;">
              <mat-form-field appearance="fill" style="border-style: none; height: 70px; width: 450px;">
                <mat-label>Email</mat-label>
                <input matInput placeholder="emailId" formControlName="emailId" type="text">
                <mat-error *ngIf="loginForm.get('emailId')?.hasError('required')">Please input your email!</mat-error>
              </mat-form-field>
            </div>
  
            <div class="form-group">
              <button mat-raised-button color="primary" class="login-form-button login-form-margin" type="submit"
                routerLink="/OTP">Send OTP</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>