/* Container */
.dialog-container1 {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 0 auto;
    animation: fadeIn 0.3s ease-out;
  }
  
  /* Title */
  .dialog-title {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #333;
    text-align: center;
  }
  
  /* Content */
  .dialog-content {
    font-size: 1em;
    margin-bottom: 1.5em;
    color: #555;
  }
  
  .dialog-content strong {
    color: #000;
  }
  
  /* Actions */
  .dialog-actions {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }
  
  .dialog-actions button {
    flex: 1;
    min-width: 80px;
    font-size: 0.875em;
  }
  
  /* Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Responsive */
  @media (max-width: 600px) {
    .dialog-container {
      padding: 15px;
      max-width: 90%;
    }
  
    .dialog-title {
      font-size: 1.25em;
    }
  
    .dialog-content {
      font-size: 0.875em;
    }
  
    .dialog-actions button {
      font-size: 0.75em;
    }
  }
  
  .parent {
    position: relative;
    width: 100%;
    height: 100vh;
 }
 
 .child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
 }
 
 .image-container {
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
 }
 
 .signup-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 
 .container {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .registration-container {
    max-width: 400px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
 }
 
 .logo-container {
    text-align: center;
    margin-bottom: 20px;
 }
 
 .logo {
    width: 100px;
    height: auto;
 }
 
 .imgDiv {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
 }
 
 h3 {
    text-align: center;
 }
 
 .nz-form-item {
    margin-bottom: 16px;
 }
 
 button {
    width: 100%;
    background-color: #e50914; 
    border: none;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
 }
 
 button:hover {
    background-color: #b20710; 
 }
 
 button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 }
 
 .signup-form-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #333;
 }

 .bottom{
   margin-top: 10px;
 }  