<nav class="navbar navbar-expand-lg fixed-top" *ngIf="!hideNavbar">
    <div class="container-fluid">
        <div class="container head">
            <a href="#" class="navbar-brand">
                <div class="logoW-wrapper">
                    <img src="../assets/images/logo-white.svg" alt="Rishabh Software">
                    <span>Meal Facility</span>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" routerLink="calender">Calender</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="viewBooking">Booking List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="coupon">Coupon</a>
                    </li>

                </ul>

                <div class="h-100 d-lg-inline-flex align-items-center">
                    <ul class="app-nav">

                        <li class="dropdown">
                            <a class="app-nav__item notification-num" (click)="toggleNotifications($event)"
                                aria-label="Show notifications">
                                <i class="icon-bell"></i>
                                <span class="num">{{ notificationCount }}</span>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a class="app-nav__item dropdown-toggle" id="username" data-toggle="dropdown"
                                aria-label="Open Profile Menu" (click)="toggleDropdown()">{{ username }}</a>
                            <div class="dropdown-box">
                                <div class="dropdown-content" [ngClass]="{'show': dropdownOpen}">
                                    <a routerLink="changePassword" (click)="changePasswordAndCloseDropdown()">Change
                                        Password</a>
                                    <a routerLink="/login" (click)="logout()">Logout</a>
                                </div>
                            </div>
                        </li>

                        <li class="dropdown">
                            <a class="app-nav__item" (click)="toggleSideMenu()" aria-label="Open Side Menu">
                                <i class="fa-solid fa-bars"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="side-menu" [ngClass]="{'show': sideMenuOpen}">
    <a class="closebtn" (click)="toggleSideMenu()">&times;</a>
    <a routerLink="terms" (click)="toggleSideMenu()">Terms and Conditions</a>
    <a routerLink="privacy-policy" (click)="toggleSideMenu()">Privacy Policy</a>
    <a routerLink="about">About Us</a>
</div>

<router-outlet></router-outlet>

<div class="footer" *ngIf="!hideFooter">
    <div class="container">
        <div class="footer-block">
            <p>Copyright © 2022 Rishabh Software. All Rights Reserved.</p>
            <div class="social">
                <a href="https://www.facebook.com/rishabhsoft" aria-label="Facebook"><i class="icon-facebook"></i></a>
                <a href="https://www.instagram.com/rishabhsoft/" aria-label="Instagram"><i
                        class="icon-instagram"></i></a>
                <a href="https://www.linkedin.com/company/rishabh-software/mycompany/" aria-label="Linkedin"><i
                        class="icon-linkedin"></i></a>
                <a href="#" aria-label="Twitter"><i class="icon-twitter"></i></a>
            </div>
        </div>
    </div>
</div>