
<div class="add-button">
  <div class="container-fluid">
    <div class="container pt-30 mb-30">
      <div class="container-head">
        <div class="container-right">
          <a aria-label="Add Booking" class="btn btn-primary" (click)="openDialog()">Add Booking</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="centerBody"></div>

<mat-card class="demo-inline-calendar-card">
  <mat-calendar [(selected)]="selectedDate" [dateFilter]="combinedDateFilter" (selectedChange)="updateSelectedTime()" [dateClass]="dateClass" #picker> 
  </mat-calendar>

  
</mat-card>

<app-meal-of-the-day></app-meal-of-the-day>
<div class="centerBody"></div>

<div class="quick-button-parent">
  <div class="quick-button">
    <div class="container-fluid">
      <div class="container pt-30 mb-30">
        <div class="container-head">
          <div class="container-right">
            <a aria-label="Add Booking" class="btn btn-primary" data-toggle="modal"
              (click)="quickMealComponent.openPopup($event)" [class.disabled]="isButtonDisabled"
              [attr.disabled]="isButtonDisabled ? true : null">Quick Meal</a>
            <app-quick-meal #quickMealComponent></app-quick-meal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>