<div class="dialog-container1">
    <h2 class="dialog-title">Are you sure you want to cancel this booking?</h2>
    <p class="dialog-content">
      <strong>Date:</strong> {{ data.bookingDate | date: 'dd/MM/yyyy' }}<br>
      <strong>Category:</strong> {{ data.category }}
    </p>
    <div class="dialog-actions">
      <button class = "button1" mat-raised-button color="warn" [mat-dialog-close]="true">Yes</button>
      <button mat-raised-button [mat-dialog-close]="false">No</button>
    </div>
  </div>
  