<!-- <div class="popup" *ngIf="isVisible">
    <div class="popup-content">
      <span class="close" (click)="closePopup()">&times;</span>
      <p>Hello!</p>
      <form>
        <input type="radio" id="lunch" name="meal" value="Lunch">
        <label for="lunch">Lunch</label><br>
        <input type="radio" id="dinner" name="meal" value="Dinner">
        <label for="dinner">Dinner</label><br>
      </form>
    </div>
  </div>
   -->

   <div class="popup" *ngIf="isVisible">
    <div class="popup-content">
      <div class="popup-header">
        <h3>Quick Meal</h3>
        <span class="close" (click)="closePopup()">&times;</span>
      </div>
      <div class="popup-body">
        <p class="note">Note: These will Book a Meal for {{ tomorrowDate }}</p>
        <div class="form-group">
          <label>Meal Type:</label><br>
          <input type="radio" id="lunch" name="meal" value="Lunch">
          <label for="lunch">Lunch</label><br>
          <input type="radio" id="dinner" name="meal" value="Dinner">
          <label for="dinner">Dinner</label><br>
        </div>
      </div>
      <div class="popup-footer">
        <button class="btn btn-secondary" (click)="closePopup()">Close</button>
        <button class="btn btn-primary" (click)="bookMeal()">Book Meal</button>
      </div>
    </div>
  </div>
  