<!-- <div class="booking-container">
<div class = "booking-table">
    <h2>Your Booking</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>Booking Date</th>
          <th>Category</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ booking.date }}</td>
          <td>{{ booking.category }}</td>
          <td>
            <button (click)="cancelBooking(i)">Cancel Booking</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<div class="booking-container">
  <div class="booking-table">
    <h2>Your Bookings</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>Booking Date</th>
          <th>Category</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of paginatedBookings; index as i">
          <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
          <td>{{ formatDate(booking.bookingDate) }}</td>
          <td>{{ booking.category }}</td>
          <td>
            <button (click)="openCancelDialog(booking)">Cancel Booking</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pagination-controls">
      <button (click)="previousPage()" [disabled]="currentPage === 1">&lt;</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">&gt;</button>
    </div>
  </div>
</div>
